---
import Layout from '../layouts/Layout.astro';

const user = Astro.locals.user;
if (!user) {
    return Astro.redirect("/login");
} else {


}



---


<Layout title="Account">
	<main>

    </main>
</Layout>
