---
import Layout from '../layouts/Layout.astro';

const user = Astro.locals.user;
if (!user) {
    return Astro.redirect("/login");
} 



---


<Layout title="Account">
	<main>
        <h2>Welcome, {user.username}!</h2>
    </main>
</Layout>


<style>

</style>