---
import Layout from "../layouts/Layout.astro";

const user = Astro.locals.user;
if (user) {
    return Astro.redirect("/account");
}
---

<Layout title="Log In">
    <main>
        <form method="POST" action="/api/login">
            <label>
                Username:
                <input type="text" name="username" required />
            </label>
            <label>
                Password:
                <input type="password" name="password" required minlength="5" />
            </label>
            <button>Submit</button>
            <!-- {loginError && <p style="color: red;">{loginError}</p>} -->
        </form>
        <p>
            <a href="/sign-up">New user?</a>
        </p>
    </main>
</Layout>

<style>
    form, .link-container {
        max-width: 300px;
    }
    label {
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-top: 5px;
    }
    button {
        margin-top: 10px;
    }
    p {
        text-align: center;
        margin-top: 50px;
    }
</style>
