---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sign Up">
    <main>
        <form method="POST" action="/api/signup">
            <label>
                Username:
                <input type="text" name="username" required />
            </label>
            <label>
                Password:
                <input type="password" name="password" required minlength="5" />
            </label>
            <button>Submit</button>
            <!-- {loginError && <p style="color: red;">{loginError}</p>} -->
        </form>
    </main>
</Layout>

<style>
    form {
        max-width: 300px;
    }
    label {
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        margin-top: 5px;
    }
    button {
        margin-top: 10px;
    }
    p {
        text-align: center;
        margin-top: 50px;
    }

</style>