---

---

<header>
    <nav>
        <form id="jankyWorkAround" method="post" action="/api/logout">
            <a href="/">Home</a>
            <a href="/resources">Resources</a>

            {Astro.locals.user && (
                <a href="/account">Account</a>
                <a onclick="document.getElementById('jankyWorkAround').submit();">Sign Out</a>
            )}
            {!Astro.locals.user && (
                <a href="/login">Login</a>
            )}

        </form>
    </nav>
</header>